---
layout: default
title: Take 37 - Home
---
<h1 class="text-center">Take 37 <small>A work in progress</small></h1>

<div class="row">
	<div class="col-md-12">
		<h2 class="text-center">Podcasts</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<a href="{{ site.baseurl }}/mmk/index.html">
			<img src="http://media.take37.com/mmk/mmk-cover-art-360x360.png" width="360" height="360" class="img-responsive center-block" alt="Midnight Movie Knights Cover Art" />
		</a>
		<a href="{{ site.baseurl }}/mmk/index.html"><h3 class="text-center">Midnight Movie Knights</h3></a>
	</div>
	<div class="col-md-4">
		<a href="{{ site.baseurl }}/suds-sunday/index.html">
			<img src="http://media.take37.com/suds-sunday/SudsSunday-360x360.png" width="360" height="360" class="img-responsive center-block" alt="Suds Sunday Cover Art" />
		</a>
		<a href="{{ site.baseurl }}/suds-sunday/index.html"><h3 class="text-center">Suds Sunday<br /><small>Coming Soon</small></h3></a>
	</div>
	<div class="col-md-4">
		<a href="{{ site.baseurl }}/getting-geeky/index.html">
			<img src="http://media.take37.com/getting-geeky/GettingGeeky-360x360.png" width="360" height="360" class="img-responsive center-block" alt="Getting Geeky Cover Art" />
		</a>
		<a href="{{ site.baseurl }}/getting-geeky/index.html"><h3 class="text-center">Getting Geeky</h3></a>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h2 class="text-center">Comics</h2>
		<h3 class="text-center">WTF Dave!?!</h3>
		{% for post in site.categories.wtf-dave %}
			<div>
				<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.thumbnail }}" alt="{{ post.title }}" width="{{ post.thumbwidth }}" height="{{ post.thumbheight }}" class="img-responsive center-block" /></a>
				<a href="{{ site.baseurl }}{{ post.url }}"><h4 class="text-center">{{ post.title }}</h4></a>
			</div>
		{% endfor %}
	</div>
	<div class="col-md-6">
		<h2 class="text-center">The League of Weirdos</h2>
		<h3 class="text-center">AKA Those Who Call Us Friend<br><small class="text-lowercase">By Their Own Free will</small></h3>
		<ul class="list-unstyled">
		{% for weirdo in site.data.weirdos %}
			<li>
				<a href="{{ weirdo.url }}">{{ weirdo.name }} <i class="fa fa-home"></i></a>
				{% if weirdo.soundcloud %}<a href="https://www.soundcloud.com/{{ weirdo.soundcloud }}"><i class="fa fa-soundcloud"></i></a>{% endif %}
				{% if weirdo.twitter %}<a href="https://twitter.com/{{ weirdo.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
				{% if weirdo.facebook %}<a href="https://www.facebook.com/{{ weirdo.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
				{% if weirdo.instagram %}<a href="https://www.instagram.com/{{ weirdo.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
			</li>
		{% endfor %}
		</ul>
		
		<p><strong><i class="fa fa-info-circle text-info"></i></strong> Want to know how you can get put at the bottom of the list?<br>
		It's simple, just ask a dumb question like below.</p>
		
		<blockquote class="blockquote-reverse">
			<p>Which part of Star Wars: The Force Awakens would you like to have spoiled most? Act one, two or three?</p>
			<footer>Rafael of We Are Not Here To Please You</footer>
		</blockquote>
		<p>It won't matter in about 40 hours from the time of writing, but, you messed with Ceebs and she's ok with being petty, your move Rafael.<p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2 class="text-center">More<br /><small>Coming Soon</small></h2>
		<img src="{{ site.baseurl }}/assets/img/BLAH.png" class="img-responsive center-block" alt="Dave doesn't believe us. Blah blah blah." />
	</div>
</div>