<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><img src="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-64x64.png" alt="Take37 Clapper"></a>
	</div>
	
	<div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#shows">Shows</a></li>
			<li><a href="#comics">Comics</a></li>
		</ul>
	</div><!--/.nav-collapse -->
</div>