<nav class="navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/index.html"><img src="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-64x64.png" alt="Take37 Clapper"></a>
		</div>
		
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li class="dropdown">
					<a href="{{ site.baseurl}}/wtf-dave/index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shows</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/mmk/index.html">Midnight Movie Knights</a></li>
						<li><a href="{{ site.baseurl}}/suds-sunday/index.html">Suds Sunday <small>Coming Soon</small></a></li>
						<li><a href="{{ site.baseurl}}/getting-geeky/index.html">Getting Geeky</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="{{ site.baseurl}}/wtf-dave/index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comics</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl}}/wtf-dave/index.html">WTF Dave!?</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>