<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

{% assign ogtitle = site.name %}
{% assign ogdesc = site.description %}
{% assign ogimage = site.ogimage %}
{% assign ogtype = 'website' %}
{% assign fbpage = 'MidnightMovieKnights' %}
{% assign twittercard = 'summary' %}
{% assign twitteracct = '@MovieKnightsPod' %}


{% if page.title %}
	{% assign ogtitle = page.title %}
{% endif %}

{% if page.description %}
	{% assign ogdesc = page.description %}
{% endif %}

{% if page.tags contains 'podcast' %}
	{% assign ogtitle = page.title %}
	{% assign ogtype = 'article' %}
	{% assign ogdesc = page.excerpt | strip_html | strip_newlines %}
{% endif %}

{% if page.abstract %}
	{% assign ogdesc = page.abstract %}
{% endif %}	

{% if page.ogimage %}
	{% assign ogimage = page.ogimage %}
	{% assign twittercard = 'summary_large_image' %}
{% endif %}

{% if page.twitteracct %}
	{% assign twitteracct = page.twitteracct %}
{% endif %}

{% if page.fbpage %}
	{% assign fbpage = page.fbpage %}
{% endif %}

		<meta name="description" content="{{ ogdesc }}">
		<meta name="author" content="@MirandaJanell &amp; @ThatFrakkingCat">

		<meta name="twitter:card" content="{{ twittercard }}">
		<meta name="twitter:site" content="{{ twitteracct }}">
		<meta name="twitter:creator" content="{{ twitteracct }}">
		{% if page.ogimage %}<meta name="twitter:image" content="{{ page.ogimage }}">{% endif %}
		<!-- <meta property="fb:app_id" content="{{ site.fbappid }}" /> -->
		<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
		<meta property="og:title" content="{{ ogtitle }}">
		<meta property="og:description" content="{{ ogdesc | strip_html | strip_newlines }}">
		<meta property="og:site_name" content="{{ site.name }}">
		<meta property="og:image" content="{{ ogimage }}">
		<meta property="og:type" content="{{ ogtype }}">
{% if page.categories contains 'podcast' %}
		<meta property="article:section" content="Podcast">
		<meta property="article:publisher" content="{{ fbpage }}" />
	{% if page.link %}
		<meta property="og:audio" content="{{ page.link | replace: 'http://', 'http://www.podtrac.com/pts/redirect.m4a/' }}">
		<meta property="og:audio:type" content="audio/mpeg">
	{% endif %}
{% endif %}

    	<title>{{ ogtitle }}</title>

		<link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link href="{{ site.baseurl }}/assets/css/take37.css" rel="stylesheet" >
		{% if page.stylesheet %}<link href="{{ site.baseurl }}/assets/css/{{ page.stylesheet }}" rel="stylesheet" >{% endif %}

		<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" >

		<!-- iOS icons -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-152x152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-76x76.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-72x72.png">
		<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-57x57.png">

		<!-- Android icon -->
		<link rel="shortcut icon" sizes="196x196" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-196x196.png">
		
		<!-- Internet Explorer icons -->
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-144x144.png">
		<meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-70x70.png"/>
		<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-150x150.png"/>
		<meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-310x150.png"/>
		<meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-310x310.png"/>

		<!-- <link rel="alternate" type="application/rss+xml" title="Take 37" href="{{ site.baseurl }}/take37.xml"> -->
	</head>

	<body id="top">
	{% if page.navinclude %}
		{% include {{ page.navinclude }} %}
	{% else %}
		{% include nav.html %}
	{% endif %}

		<div class="container site-content">
			{{ content }}
		</div>

		<!-- SCRIPTS -->
		<!-- jQuery first -->
		<script src="{{ site.baseurl }}/assets/js/jquery-2.1.4.min.js"></script>

		<!-- Global Scripts -->
		<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
