<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site.description }}">
		<meta name="author" content="@MirandaJanell &amp; @ThatFrakkingCat">

		<meta name="twitter:card" content="summary">
		<!-- <meta name="twitter:site" content="@MovieKnightsPod"> -->
		<meta name="twitter:creator" content="@MirandaJanell">
		{% if page.categories contains 'podcast' %}
		<meta property="og:title" content="{{ page.title }}">
			{% if page.abstract %}
			<meta property="og:description" content="{{ page.abstract }}">
			{% else %}
			<meta property="og:description" content="{{ page.content }}">
			{% endif %}
		{% else %}
			{% if page.title %}
		<meta property="og:title" content="{{ page.title }}">
			{% else %}
		<meta property="og:title" content="{{ site.name }}">
			{% endif %}
			{% if page.description %}
		<meta property="og:description" content="{{ page.description }}">
			{% else %}
		<meta property="og:description" content="{{ site.description }}">
			{% endif %}
		{% endif %}

			<title>Take 37 - {{ page.title }}</title>

		<link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link href="{{ site.baseurl }}/assets/css/take37.css" rel="stylesheet" >
		{% if page.stylesheet %}<link href="{{ site.baseurl }}/assets/css/{{ page.stylesheet }}" rel="stylesheet" >{% endif %}

		<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" >

		<!-- iOS icons -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-152x152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-76x76.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-72x72.png">
		<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-57x57.png">

		<!-- Android icon -->
		<link rel="shortcut icon" sizes="196x196" href="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-196x196.png">
		
		<!-- Internet Explorer icons -->
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-144x144.png">
		<meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-70x70.png"/>
		<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-150x150.png"/>
		<meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-310x150.png"/>
		<meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-310x310.png"/>

		<!-- <link rel="alternate" type="application/rss+xml" title="Take 37" href="{{ site.baseurl }}/take37.xml"> -->
	</head>

	<body id="top">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="{{ site.baseurl }}/assets/img/clapper/Take37Clapper-48x48.png"></a>
				</div>
				
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#shows">Shows</a></li>
						<li><a href="#comics">Comics</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container site-content">
			{{ content }}
		</div>

		<!-- SCRIPTS -->
		<!-- jQuery first -->
		<script src="{{ site.baseurl }}/assets/js/jquery-2.1.4.min.js"></script>

		<!-- Global Scripts -->
		<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
